.text-background > span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

/* span elements that are children of the class text-background */
div .text-background > span {
    background-color: yellow;
}


span > span {
    background-color: grey;
    text-decoration: line-through;
}

ol span > span {
    font-size: 18px;
    text-transform: uppercase;
}


section > p {
    text-shadow: 3px 3px 5px rgba(248, 3, 3, 0.973);
    text-indent: 50px;
}


li > ul {
    list-style-image: url('li.svg');
}

div > .text-background {
    word-spacing: 50px;
}

.text-bold > p {
    font-weight: bold;
}


.text-bold > section > p {
    line-height: 45px;
}

/* Paragraphs that come immediately after any image */
img + p {
    background-color: brown;
}

/* paragraphs that are both siblings of an section and appear after any section */
section ~ p {
    color: red;
}