:root {
    --gap: 12px;
    --block-border: 3px solid pink;
    --block-padding: 20px;
}

.block {
    border: var(--block-border);
    padding: var(--block-padding);
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    min-height: 50px;
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.ads {
    grid-area: ads;
}

.footer {
    grid-area: footer;
}

.page-container {
    display: grid;
    gap: var(--gap);
    max-width: 1200px;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr 1fr;

    grid-template-areas:
        "header"
        "navigation"
        "main"
        "sidebar"
        "ads"
        "footer";
}

@media (min-width: 577px) {
    .page-container {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;

        grid-template-areas:
            "header     header"
            "navigation navigation"
            "sidebar    main"
            "ads        footer";
    }
}

@media (min-width: 769px) {
    .page-container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;

        grid-template-areas:
            "header  header     header"
            "sidebar navigation ads"
            "sidebar main       ads"
            "footer  footer     footer";
    }
}