:root {
    --gap: 12px;
    --block-border: 3px solid green;
    --block-padding: 20px;
}

.block {
    border: var(--block-border);
    padding: var(--block-padding);
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: black;
    min-height: 50px;
}

.page-container {
    display: grid;
    gap: var(--gap);
    max-width: 1200px;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr 1fr;

}

.header {
    grid-row: 1;
}

.navigation {
    grid-row: 2;
}

.main {
    grid-row: 3;
}

.sidebar {
    grid-row: 4;
}

.ads {
    grid-row: 5;
}

.footer {
    grid-row: 6;
}


@media (min-width: 577px) {
    .page-container {

        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;
    }

    .header {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .navigation {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    .ads {
        grid-column: 1 / 2;
        grid-row: 4;
    }

    .footer {
        grid-column: 2 / 3;
        grid-row: 4;
    }

}

@media (min-width: 769px) {
    .page-container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;
    }

    .header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .navigation {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .ads {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }

    .footer {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
}