* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.block {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: absolute;
    font: 1em sans-serif;
}

.green-block {
    background-color: rgb(64, 191, 64);
    color: white;
}

.purple-block {
    background-color: rgb(186, 130, 204);
    color: black;
}

.small {
    width: 150px;
    height: 200px;
}

.big {
    width: 300px;
    height: 200px;
}

.wide {
    width: 640px;
    height: 80px;
}

#block1 {
    top: 20px;
    left: 50px;
}

#block2 {
    top: 20px;
    left: 220px;
}

#block3 {
    top: 20px;
    left: 390px;
}

#block4 {
    top: 240px;
    left: 50px;
}