.wrapper {
    background-color: #929191;
    width: 600px;
    height: 450px;
    margin: 100px auto;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.black {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 300px;
    height: 300px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.57) 2px 10px 20px;
    z-index: 2;
}

.black img {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 400px;
    z-index: 1;
}

.black p {
    color: rgba(255, 255, 255, 0.66);
    position: absolute;
    top: 110px;
    left: 15px;
    font-size: 80px;
    font-weight: bold;
}

.arrows {
    background-color: rgba(255, 255, 255, 0.545);
    position: absolute;
    top: 100px;
    left: 20px;
    display: flex;
    gap: 5px;
    z-index: 3;
}

.arrows img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.temperature {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 300px;
    height: 150px;
    background-color: #e1e1e1b6;
    border-right: 8px solid rgba(0, 0, 0, 0.450);
    border-bottom: 5px solid rgba(0, 0, 0, 0.450);
    z-index: 1;
}

.list-temp {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

.days {
    text-align: center;
    flex-grow: 1;
}

.days p {
    margin: 0;
}

.days p:first-child {
    font-size: 15px;
    color: gray;
    margin-bottom: 5px;
}

.days p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

