body {
    color: #2b2b2b;
    padding: 5px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right top, #d9a7c7, #f1c6e7, #fce1ef, #e3d5f3, #cdbff2);
}

div {
    margin-bottom: 15px;
}

legend {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4b006e;
}

fieldset {
    border-radius: 20px;
    border: 2px solid #6c3483;
    background: #e9d4f87a;
    width: 75%;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    color: #fff0fa;
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
}

.reset-btn {
    background: #a65db1;
}

.submit-btn {
    background: #743c84;
}

.about label {
    margin-bottom: 10px;
    display: block;
}

.programs-editing label {
    margin-bottom: 10px;
    display: block;
}

#fullname,
#about,
#password,
#email,
#phone,
#birthdate,
#city {
    font-weight: bold;
    color: #3b3b3b;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background: #f8e9f4;
    margin: 10px 15px;
    display: block;
}

#zodiac,
#level,
#movie {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background: #4a3f63;
    display: block;
    margin: 10px 0;
}

button:hover {
    opacity: 0.85;
    transform: scale(1.03);
    transition: all 0.2s ease;
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid #a65db1;
    background-color: #fdf4ff;
}
